<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>frontail</string>
  <key>ProgramArguments</key>
  <array>
      <string>/Users/andrewwr/.nvm/versions/node/v6.10.0/bin/node</string>
      <string>/Users/andrewwr/src/keylogging-payload/frontail/bin/frontail</string>
      <string>-p</string>
      <string>80</string>
      <string>-h</string>
      <string>127.0.0.1</string>
      <string>/var/log/keystroke.log</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
